body {
    background: #FFFFFF;
    margin: 0;
}
.page {
    overflow: hidden !important;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
section {
    overflow: hidden;
}
.anim {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    -webkit-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.anim.show {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.container {
    max-width: 1550px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    position: relative;
}
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
}
.header__inner div {
    position: absolute;
    display: flex;
    gap: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.header__inner div a {
    text-decoration: none;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.54);
}
.header__inner div a.active {
    color: #000000;
}

/* intro */
.intro {
    height: 1080px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.intro .br-mob {
    display: none;
}
.intro .deco {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.intro .deco-mob {
    display: none;  
}
.intro .intro__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: relative;
}
.intro .intro__inner h1 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
    color: #000000;
    max-width: 730px;
}
.intro .intro__inner h1 > #end {
    font-weight: 500;
    font-size: 60px;
    color: #2196F3;
}
.intro .intro__inner h1 > #change {
    font-weight: 500;
    font-size: 60px;
}
.intro .intro__inner button {
    cursor: pointer;
    border: 1px solid #2196F3;
    box-shadow: 0px 0px 15px 0px rgba(0,188,212,0.2);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,188,212,0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,188,212,0.2);
    border-radius: 5px;
    outline: none;
    width: 250px;
    height: 55px;
    background: #ffffff;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 105%;
    text-align: center;
    color: #2196F3;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.intro .intro__inner button:hover {
    background: #2196F3;
    color: #FFFFFF;
}
.intro .intro__inner img {
    position: absolute;
    right: -5%;
    bottom: -30%;
    z-index: 2;
}
.intro .headers {
    position: absolute;
    bottom: 124px;
    left: 0;
    right: 0;
    z-index: 3;
}
.intro .intro__headers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro .intro__headers .line {
    width: 0px;
    height: 79px;
    border: 1.2809px solid rgba(0, 0, 0, 0.12);
}
.intro .intro__headers .block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.intro .intro__headers .block h2 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 117%;
    color: rgba(0, 0, 0, 0.87);
}
.intro .intro__headers .block.active h2 {
    color: #2196F3;
}
.intro .intro__headers .block h3 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.87);
}
.intro .intro__headers .block.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 192px;
    height: 7px;
    border: none;
    background: #2196F3;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* about */
.about {
    padding: 122px 0;
    position: relative;
    width: 100%;
}
.about .about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .about__inner .art {
    width: 634px;
    height: 634px;
    position: relative;
}
.about .about__inner .art img {
    width: 100%;
}
.about .about__inner .art span {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
    color: #FFFFFF;
    width: 150px;
    position: absolute;
    left: 31%;
    top: 33%;
    z-index: 1;
}
.about .about__inner .texts {
    width: 805px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.about .about__inner .texts h4 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 105%;
    color: #000000;
    width: 100%;    
}
.about .about__inner .texts h5 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 105%;
    color: #000000;
    width: 100%;
}
/* reviews */
.reviews {
    width: 100%;
    padding: 75px 0 175px;
    position: relative;
    background: #F1F8FE;
}
.reviews .art {
    position: absolute;
    right: 0;
    top: 7%;
    z-index: 1;
}
.reviews .art_mob {
    display: none;
}
.reviews .tr1 {
    position: absolute;
    left: 0;
    bottom: 1%;
    z-index: 1;
}
.reviews .tr2, .reviews .tr3 {
    display: none;
}
.reviews__inner {
    display: flex;
    flex-direction: column;
    gap: 65px;
    z-index: 2;
    position: relative;
}
.reviews__inner h6 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 66px;
    color: #0D47A1;
}
.reviews__inner .reviews__blocks {
    display: flex;
    gap: 55px;
}
.reviews__inner .reviews__blocks .block {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 363px;
}
.reviews__inner .reviews__blocks .block .area {
    min-height: 343px;
    background: #FFFFFF;
    padding: 45px 35px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 27px;
    border-radius: 70px 70px 70px 0px;
    -webkit-border-radius: 70px 70px 70px 0px;
    -moz-border-radius: 70px 70px 70px 0px;
    -ms-border-radius: 70px 70px 70px 0px;
    -o-border-radius: 70px 70px 70px 0px;
}
.reviews__inner .reviews__blocks .block .area img {
    max-width: 210px;
}
.reviews__inner .reviews__blocks .block .area span {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.87);
}
.reviews__inner .reviews__blocks .block .round {
    background: #C4C4C4;
    border: 5.6px solid #FFFFFF;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.form {
    width: 100%;
    position: relative;
    padding: 130px 0 110px;
}
.form .form__inner {
    display: grid;
    place-items: center;
}
.form .form__inner .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2196F3;
    width: 90%;
    padding: 41px 175px 41px 105px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.form .form__inner .block .texts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form .form__inner .block .texts span:first-child {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    color: #FFFFFF;
}
.form .form__inner .block .texts span:last-child {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
}
.form .form__inner .block button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 305px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 105%;
    text-align: center;
    color: #2196F3;
}
/* footer desctop */
footer {
    background: #F1F8FE;
}
.mobile {
    display: none;
}
.desctop {
    padding: 92px 0;
    width: 100%;
    position: relative;
}
.desctop .f-triang1 {
    position: absolute;
    bottom: -30%;
    left: 0;
    z-index: 1;
}
.desctop .f-triang2 {
    position: absolute;
    top: -30%;
    right: 0;
    z-index: 1;
}
.desctop .footer__inner {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.desctop .footer__inner .left {
    display: flex;
    align-items: center;
    gap: 80px;
}
.desctop .footer__inner .info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.desctop .footer__inner .info img {
    width: 170px;
}
footer span, footer a {
    display: inherit;
    text-decoration: none;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.54);
    max-width: 326px;
    letter-spacing: 1px;
}
.desctop .footer__inner .link_all {
    display: flex;
    gap: 65px;
}
.desctop .footer__inner .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.desctop .footer__inner .links span {
    margin-bottom: 10px;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #0D47A1;
}
.footer__inner .networks {
    display: flex;
    align-items: center;
    gap: 18px;
    height: fit-content;
    margin: 50px 50px 0 0;
}
@media (max-width: 1600px) {
    .container {
        max-width: 970px;
        padding: 0 10px;
    }
    .header__inner {
        padding: 30px 0;
    }
    .header__inner img {
        width: 155px;
    }
    .header__inner div {
        gap: 15px;
    }
    .header__inner div a {
        font-size: 15.6px;
        line-height: 17px;
    }
    .intro {
        height: 675px;
    }
    .intro .deco {
        width: 640px;
    }
    .intro .intro__inner {
        gap: 22px;
    }
    .intro .intro__inner h1 {
        max-width: 400px;
        font-size: 37px;
        line-height: 41px;
    }
    .intro .intro__inner h1 > #change, .intro .intro__inner h1 > #end {
        font-size: 37px;
        line-height: 41px;
    }
    .intro .intro__inner button {
        width: 156px;
        height: 35px;
        font-size: 13px;
        line-height: 15px;
    }
    .intro .intro__inner img {
        width: 471px;
    }
    .intro .headers {
        bottom: 77px;
    }
    .intro .intro__headers .block {
        gap: 6px;
    }
    .intro .intro__headers .block h2 {
        font-size: 31px;
        line-height: 34px;
    }
    .intro .intro__headers .block h3 {
        font-size: 16px;
        line-height: 19px;
    }
    .intro .intro__headers .block.active::after {
        width: 120px;
        height: 5px;
        bottom: -10px;
    }
    .intro .intro__headers .line {
        height: 50px;
        border: 0.800915px solid rgba(0, 0, 0, 0.12);
    }
    .about {
        padding: 76px 0;
    }
    .about .about__inner .art {
        width: 409px;
        height: 409px;
    }
    .about .about__inner .art span {
        font-size: 32.5px;
        line-height: 40px;
        width: 100px;
    }
    .about .about__inner .texts {
        gap: 25px;
        max-width: 500px;
    }
    .about .about__inner .texts h4 {
        font-size: 31px;
        line-height: 33px;
    }
    .about .about__inner .texts h5 {
        font-size: 19px;
        line-height: 21px;
    }
    .reviews {
        padding: 46px 0 110px;
    }
    .reviews .art {
        width: 360px;
    }
    .reviews .tr1 {
        width: 130px;
    }
    .reviews__inner {
        gap: 40px;
    }
    .reviews__inner h6 {
        font-size: 37.5px;
        line-height: 41px;
    }
    .reviews__inner .reviews__blocks {
        gap: 35px;
    }
    .reviews__inner .reviews__blocks .block {
        gap: 15px;
        width: 227px;
    }
    .reviews__inner .reviews__blocks .block .area {
        min-height: 214px;
        gap: 16.6px;
        padding: 30px 22px 20px;
        border-radius: 44px 44px 44px 0;
        -webkit-border-radius: 44px 44px 44px 0;
        -moz-border-radius: 44px 44px 44px 0;
        -ms-border-radius: 44px 44px 44px 0;
        -o-border-radius: 44px 44px 44px 0;
    }
    .reviews__inner .reviews__blocks .block .area span {
        font-size: 14.1128px;
        line-height: 21px;
    }
    .reviews__inner .reviews__blocks .block .area img {
        max-width: 130px;
    }
    .reviews__inner .reviews__blocks .block .round {
        width: 52px;
        height: 52px;
        border: 3.5px solid #FFFFFF;
    }
    .form {
        padding: 82px 0 67px;
    }
    .form .form__inner .block {
        padding: 25px 110px 25px 65px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .form .form__inner .block .texts {
        gap: 10px;
    }
    .form .form__inner .block .texts span:first-child {
        font-size: 28.1374px;
        line-height: 31px;
    }
    .form .form__inner .block .texts span:last-child {
        font-size: 15.6319px;
        line-height: 17px;        
    }
    .form .form__inner .block button {
        width: 190px;
        height: 46px;
        font-size: 15.6319px;
        line-height: 105%;
    }
    .desctop {
        padding: 55px 0;
    }
    .desctop .f-triang1 {
        bottom: -200px;
    }
    .desctop .f-triang2 {
        display: none;
    }
    .desctop .footer__inner .info {
        gap: 15px;
    }
    .desctop .footer__inner .left {
        gap: 50px;
    }
    .desctop .footer__inner .info img {
        width: 105px;
    }
    footer span, footer a {
        max-width: 200px;
        font-size: 10px;
        line-height: 11px;
    }
    .desctop .footer__inner .link_all {
        gap: 40px;
    }
    .desctop .footer__inner .links {
        gap: 10px;
    }
    .desctop .footer__inner .links span {
        margin-bottom: 5px;
        font-size: 11.255px;
        line-height: 12px;
    }
    .footer__inner .networks {
        margin: 30px 30px 0 0;
        gap: 11px;
    }
    .footer__inner .networks a {
        width: 23px;
    }
    .footer__inner .networks a img {
        width: 100%;
    }
}
@media (max-width: 1050px) {
    .container {
        max-width: 575px;
        padding: 0 10px;
    }
    .header__inner {
        padding: 20px 0;
    }
    .header__inner img {
        width: 90px;
    }
    .header__inner div {
        gap: 10px;
    }
    .header__inner div a {
        font-size: 9px;
        line-height: 10px;
    }
    .intro {
        height: 400px;
    }
    .intro .deco {
        width: 400px;
    }
    .intro .intro__inner {
        gap: 12px;
    }
    .intro .intro__inner h1 {
        max-width: 250px;
        font-size: 22px;
        line-height: 110%;
    }
    .intro .intro__inner h1 > #change, .intro .intro__inner h1 > #end {
        font-size: 22px;
        line-height: 110%;
    }
    .intro .intro__inner button {
        width: 91px;
        height: 20px;
        font-size: 8px;
        line-height: 9px;
    }
    .intro .intro__inner img {
        width: 275px;
    }
    .intro .headers {
        bottom: 45px;
    }
    .intro .intro__headers .block {
        gap: 4px;
    }
    .intro .intro__headers .block h2 {
        font-size: 18px;
        line-height: 20px;
    }
    .intro .intro__headers .block h3 {
        font-size: 9px;
        line-height: 11px;
    }
    .intro .intro__headers .block.active::after {
        width: 70px;
        height: 3px;
        bottom: -7px;
    }
    .intro .intro__headers .line {
        height: 30px;
        border: 0.800915px solid rgba(0, 0, 0, 0.12);
    }
    .about {
        padding: 44px 0;
    }
    .about .about__inner .art {
        width: 238px;
        height: 238px;
    }
    .about .about__inner .art span {
        font-size: 19px;
        line-height: 23px;
        width: 70px;
    }
    .about .about__inner .texts {
        gap: 16px;
        max-width: 293px;
    }
    .about .about__inner .texts h4 {
        font-size: 18px;
        line-height: 20px;
    }
    .about .about__inner .texts h5 {
        font-size: 11px;
        line-height: 13px;
    }
    .reviews {
        padding: 26px 0 64px;
    }
    .reviews .art {
        width: 200px;
    }
    .reviews .tr1 {
        width: 110px;
    }
    .reviews__inner {
        gap: 23px;
    }
    .reviews__inner h6 {
        font-size: 21.875px;
        line-height: 24px;
    }
    .reviews__inner .reviews__blocks {
        gap: 20px;
    }
    .reviews__inner .reviews__blocks .block {
        gap: 9px;
        width: 132px;
    }
    .reviews__inner .reviews__blocks .block .area {
        min-height: 125px;
        gap: 10px;
        padding: 16px 12px 12px;
        border-radius: 25px 25px 25px 0;
        -webkit-border-radius: 25px 25px 25px 0;
        -moz-border-radius: 25px 25px 25px 0;
        -ms-border-radius: 25px 25px 25px 0;
        -o-border-radius: 25px 25px 25px 0;
}
    .reviews__inner .reviews__blocks .block .area span {
        font-size: 8.22884px;
        line-height: 12px;
    }
    .reviews__inner .reviews__blocks .block .area img {
        max-width: 76px;
    }
    .reviews__inner .reviews__blocks .block .round {
        width: 30px;
        height: 30px;
        border: 2px solid #FFFFFF;
    }
    .form {
        padding: 48px 0 38px;
    }
    .form .form__inner .block {
        padding: 14px 64px 14px 40px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
    }
    .form .form__inner .block .texts {
        gap: 6px;
    }
    .form .form__inner .block .texts span:first-child {
        font-size: 16.4062px;
        line-height: 18px;
    }
    .form .form__inner .block .texts span:last-child {
        font-size: 9.11458px;
        line-height: 10px;     
    }
    .form .form__inner .block button {
        width: 110px;
        height: 27px;
        font-size: 9.11458px;
        line-height: 105%;
    }
    .desctop {
        padding: 33px 0;
    }
    .desctop .f-triang1 {
        bottom: -150px;
    }
    .desctop .footer__inner .info {
        gap: 10px;
    }
    .desctop .footer__inner .left {
        gap: 30px;
    }
    .desctop .footer__inner .info img {
        width: 62px;
    }
    footer span, footer a {
        max-width: 110px;
        font-size: 6px;
        line-height: 7px;
    }
    .desctop .footer__inner .link_all {
        gap: 24px;
    }
    .desctop .footer__inner .links {
        gap: 6px;
    }
    .desctop .footer__inner .links span {
        margin-bottom: 4px;
        font-size: 7px;
        line-height: 8px;
    }
    .footer__inner .networks {
        margin: 20px 20px 0 0;
        gap: 7px;
    }
    .footer__inner .networks a {
        width: 14px;
    }
    .footer__inner .networks a img {
        width: 100%;
    }
}
@media (max-width: 700px) {
    .container {
        max-width: 392px;
    }
    .header__inner {
        padding: 35px 0;
        flex-direction: column;
        gap: 20px;
    }
    .header__inner div {
        position: unset;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
        gap: 20px;
    }
    .header__inner img {
        width: 145px;
    }
    .header__inner div a {
        font-size: 18px;
        line-height: 20px;
    }
    .intro {
        height: 980px;
        justify-content: flex-end;
        margin: -35px 0 35px;
    }
    .intro .intro__inner {
        align-items: center;
        gap: 0;
    }
    .intro .intro__inner button {
        width: 180px;
        height: 40px;
        font-size: 14px;
        line-height: 105%;
        margin: 20px 0 65px;
    }
    .intro .intro__inner h1 {
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        max-width: 268px;
    }
    .intro .intro__inner h1 > #change, .intro .intro__inner h1 > #end {
        font-size: 32px;
        line-height: 35px;
    }
    .intro .intro__inner img {
        position: unset;
        transform: unset;
        width: 300px;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
    }
    .intro .deco {
        display: none;
    }
    .intro .deco-mob {
        display: block;
        position: absolute;
        right: 0;
        top: 18%;
    }
    .intro .br-mob {
        display: block;
    }
    .intro .headers {
        position: unset;
        margin-top: 65px;
    }
    .intro .intro__headers {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .intro .intro__headers .block {
        gap: 10px;
    }
    .intro .intro__headers .block:first-child {
        margin-bottom: 14px;
    }
    .intro .intro__headers .block h2 {
        font-size: 24px;
        line-height: 26px;
    }
    .intro .intro__headers .block h3 {
        font-size: 14px;
        line-height: 15px;
    }
    .intro .intro__headers .block.active::after {
        width: 90px;
        height: 4px;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .intro .intro__headers .line {
        height: 0;
        width: 80px;
    }
    .about {
        padding: 35px 0;
    }
    .about .about__inner {
        flex-direction: column;
        gap: 40px;
    }
    .about .about__inner .art {
        width: 362px;
        height: 362px;
    }
    .about .about__inner .art span {
        font-size: 29px;
        line-height: 29px;
        width: 70px;
        top: 35%;
    }
    .about .about__inner .texts {
        max-width: 362px;
        gap: 10px;
        text-align: center;
    }
    .about .about__inner .texts h4 {
        font-size: 24px;
        line-height: 26px;
        max-width: 300px;
        margin: 0 auto;
    }
    .about .about__inner .texts h5 {
        font-size: 14px;
        line-height: 15px;
    }
    .reviews {
        padding: 32px 0;
    }
    .reviews__inner {
        align-items: center;
        gap: 10px;
    }
    .reviews__inner .reviews__blocks {
        flex-direction: column;
    }
    .reviews .art {
        display: none;
    }
    .reviews .art_mob {
        display: block;
        width: 362px;
        height: 362px;
    }
    .reviews .tr1 {
        width: 200px;
        top: 35%;
    }
    .reviews .tr2 {
        display: unset;
        position: absolute;
        top: 65%;
        right: 0;
    }
    .reviews .tr3 {
        display: unset;
        position: absolute;
        bottom: 1%;
        left: 0;
    }
    .reviews__inner h6 {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .reviews__inner .reviews__blocks .block {
        gap: 20px;
        width: 362px;
    }
    .reviews__inner .reviews__blocks .block .area {
        min-height: 343px;
        padding: 30px 35px;
        gap: 10px;
        justify-content: space-between;
        border-radius: 70px 70px 70px 0;
        -webkit-border-radius: 70px 70px 70px 0;
        -moz-border-radius: 70px 70px 70px 0;
        -ms-border-radius: 70px 70px 70px 0;
        -o-border-radius: 70px 70px 70px 0;
    }
    .reviews__inner .reviews__blocks .block .area span {
        font-size: 22.5px;
        line-height: 30px;
    }
    .reviews__inner .reviews__blocks .block .area img {
        max-width: 200px;
    }
    .reviews__inner .reviews__blocks .block .round {
        width: 82px;
        height: 82px;
        border: 5.64263px solid #FFFFFF;
    }
    .form {
        padding: 40px 0;
    }
    .form .form__inner .block {
        padding: 25px 45px 35px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }
    .form .form__inner .block .texts {
        gap: 20px;
        text-align: center;
    }
    .form .form__inner .block .texts span:first-child {
        font-size: 24px;
        line-height: 26px;
    }
    .form .form__inner .block .texts span:last-child {
        font-size: 14px;
        line-height: 15px;
    }
    .form .form__inner .block button {
        width: 196px;
        height: 57px;
        font-size: 16px;
        line-height: 105%;
    }
    .desctop {
        display: none;
    }
    .mobile {
        background: #F1F8FE;
        display: block;
        position: relative;
        width: 100%;
        padding: 30px 0 80px;
    }
    .mobile .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        width: 90%;
        margin: 0 auto;
    }
    footer span, footer a {
        font-size: 13px;
        line-height: 14px;
        max-width: 340px;
    }
    .mobile .footer__inner .deco {
        position: absolute;
        left: 0; 
        top: 20px;
        z-index: -1;   
    }
    .mobile .footer__inner .logo {
        max-width: 170px;
    }
    .mobile .footer__inner .networks {
        display: flex;
        align-items: center;
        gap: 18px;
        height: fit-content;
        margin: 20px 0 30px;
    }
    .mobile .footer__inner .networks a {
        width: 37px;
    }
    .mobile .footer__inner .networks a img {
        width: 100%;
    }
    .mobile .footer__inner .link_all {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .mobile .footer__inner .links {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .mobile .footer__inner .sp {
        margin: 30px 0 25px;
    }
    .mobile .footer__inner .rev {
        width: 100%;
    }
    .mobile .footer__inner .links span {
        font-family: 'Akshar';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #0D47A1;
    }
}