body {
    background: #FFFFFF;
    margin: 0;
}
.page {
    overflow: hidden !important;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
.container {
    max-width: 1550px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    position: relative;
}
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
}
.header__inner div {
    position: absolute;
    display: flex;
    gap: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.header__inner div a {
    text-decoration: none;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.54);
}
.header__inner div a.active {
    color: #000000;
}

/* intro */
.intro {
    height: 1080px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.intro .deco {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.intro .intro__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: relative;
}
.intro .intro__inner h1 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
    color: #000000;
    max-width: 730px;
}
.intro .intro__inner h1 > #end {
    font-weight: 500;
    font-size: 60px;
    color: #2196F3;
}
.intro .intro__inner h1 > #change {
    font-weight: 500;
    font-size: 60px;
}
.intro .intro__inner button {
    cursor: pointer;
    border: 1px solid #2196F3;
    filter: drop-shadow(1px 4px 12px #00BCD4);
    border-radius: 5px;
    outline: none;
    width: 250px;
    height: 55px;
    background: transparent;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 105%;
    text-align: center;
    color: #2196F3;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.intro .intro__inner button:hover {
    background: #2196F3;
    color: #FFFFFF;
}
.intro .intro__inner img {
    position: absolute;
    right: -5%;
    bottom: -30%;
    z-index: 2;
}
.intro .headers {
    position: absolute;
    bottom: 124px;
    left: 0;
    right: 0;
    z-index: 3;
}
.intro .intro__headers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro .intro__headers .line {
    width: 0px;
    height: 79px;
    border: 1.2809px solid rgba(0, 0, 0, 0.12);
}
.intro .intro__headers .block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.intro .intro__headers .block h2 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 117%;
    color: rgba(0, 0, 0, 0.87);
}
.intro .intro__headers .block.active h2 {
    color: #2196F3;
}
.intro .intro__headers .block h3 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.87);
}
.intro .intro__headers .block.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 192px;
    height: 7px;
    border: none;
    background: #2196F3;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* about */
.about {
    padding: 122px 0;
    position: relative;
    width: 100%;
}
.about .about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .about__inner .art {
    width: 634px;
    height: 634px;
    position: relative;
}
.about .about__inner .art img {
    width: 100%;
}
.about .about__inner .art span {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
    color: #FFFFFF;
    width: 150px;
    position: absolute;
    left: 31%;
    top: 33%;
    z-index: 1;
}
.about .about__inner .texts {
    width: 805px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.about .about__inner .texts h4 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 105%;
    color: #000000;
    width: 100%;    
}
.about .about__inner .texts h5 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 105%;
    color: #000000;
    width: 100%;
}
/* reviews */
.reviews {
    width: 100%;
    padding: 75px 0 175px;
    position: relative;
    background: #F1F8FE;
}
.reviews .art {
    position: absolute;
    right: 0;
    top: 7%;
    z-index: 1;
}
.reviews .tr1 {
    position: absolute;
    left: 0;
    bottom: 1%;
    z-index: 1;
}
.reviews__inner {
    display: flex;
    flex-direction: column;
    gap: 65px;
    z-index: 2;
    position: relative;
}
.reviews__inner h6 {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 66px;
    color: #0D47A1;
}
.reviews__inner .reviews__blocks {
    display: flex;
    gap: 55px;
}
.reviews__inner .reviews__blocks .block {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 363px;
}
.reviews__inner .reviews__blocks .block .area {
    min-height: 343px;
    background: #FFFFFF;
    padding: 45px 35px 32px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    border-radius: 70px 70px 70px 0px;
    -webkit-border-radius: 70px 70px 70px 0px;
    -moz-border-radius: 70px 70px 70px 0px;
    -ms-border-radius: 70px 70px 70px 0px;
    -o-border-radius: 70px 70px 70px 0px;
}
.reviews__inner .reviews__blocks .block .area img {
    max-width: 210px;
}
.reviews__inner .reviews__blocks .block .area span {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.87);
}
.reviews__inner .reviews__blocks .block .round {
    background: #C4C4C4;
    border: 5.6px solid #FFFFFF;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.form {
    width: 100%;
    position: relative;
    padding: 130px 0 110px;
}
.form .form__inner {
    display: grid;
    place-items: center;
}
.form .form__inner .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2196F3;
    width: 90%;
    padding: 41px 175px 41px 105px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.form .form__inner .block .texts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form .form__inner .block .texts span:first-child {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    color: #FFFFFF;
}
.form .form__inner .block .texts span:last-child {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
}
.form .form__inner .block button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 305px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 105%;
    text-align: center;
    color: #2196F3;
}
/* footer desctop */
footer {
    background: #F1F8FE;
}
.desctop {
    padding: 92px 0;
    width: 100%;
    position: relative;
}
.desctop .f-triang1 {
    position: absolute;
    bottom: -30%;
    left: 0;
    z-index: 1;
}
.desctop .f-triang2 {
    position: absolute;
    top: -30%;
    right: 0;
    z-index: 1;
}
.desctop .footer__inner {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.desctop .footer__inner .left {
    display: flex;
    align-items: center;
    gap: 80px;
}
.desctop .footer__inner .info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.desctop .footer__inner .info img {
    width: 170px;
}
footer span, footer a {
    display: inherit;
    text-decoration: none;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.54);
    max-width: 326px;
}
.desctop .footer__inner .link_all {
    display: flex;
    gap: 65px;
}
.desctop .footer__inner .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.desctop .footer__inner .links span {
    margin-bottom: 10px;
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #0D47A1;
}
.footer__inner .networks {
    display: flex;
    align-items: center;
    gap: 18px;
    height: fit-content;
    margin: 50px 50px 0 0;
}
@media (max-width: 1600px) {
    .container {
        max-width: 970px;
        padding: 0 10px;
    }
    .header__inner {
        padding: 30px 0;
    }
    .header__inner img {
        width: 155px;
    }
    .header__inner div {
        gap: 15px;
    }
    .header__inner div a {
        font-size: 15.6px;
        line-height: 17px;
    }
    .intro {
        height: 675px;
    }
    .intro .deco {
        width: 640px;
    }
    .intro .intro__inner {
        gap: 22px;
    }
    .intro .intro__inner h1 {
        max-width: 400px;
        font-size: 37px;
        line-height: 41px;
    }
    .intro .intro__inner h1 > #change, .intro .intro__inner h1 > #end {
        font-size: 37px;
        line-height: 41px;
    }
    .intro .intro__inner button {
        width: 156px;
        height: 35px;
        size: 13px;
        line-height: 15px;
    }
    .intro .intro__inner img {
        width: 471px;
    }
    .intro .headers {
        bottom: 77px;
    }
    .intro .intro__headers .block {
        gap: 6px;
    }
    .intro .intro__headers .block h2 {
        font-size: 31px;
        line-height: 34px;
    }
    .intro .intro__headers .block h3 {
        font-size: 16px;
        line-height: 19px;
    }
    .intro .intro__headers .block.active::after {
        width: 120px;
        height: 5px;
        bottom: -10px;
    }
    .intro .intro__headers .line {
        height: 50px;
        border: 0.800915px solid rgba(0, 0, 0, 0.12);
    }
    .about {
        padding: 76px;
    }
    .about .about__inner .art {
        width: 409px;
        height: 409px;
    }
    .about .about__inner .art span {
        font-size: 32.5px;
        line-height: 40px;
        width: 100px;
    }
    .about .about__inner .texts {
        gap: 25px;
        max-width: 500px;
    }
    .about .about__inner .texts h4 {
        font-size: 31px;
        line-height: 33px;
    }
    .about .about__inner .texts h5 {
        font-size: 19px;
        line-height: 21px;
    }
    .reviews {
        padding: 46px 0 110px;
    }
    .reviews .art {
        width: 360px;
    }
    .reviews .tr1 {
        width: 130px;
    }
    .reviews__inner {
        gap: 40px;
    }
    .reviews__inner h6 {
        font-size: 37.5px;
        line-height: 41px;
    }
    .reviews__inner .reviews__blocks {
        gap: 35px;
    }
    .reviews__inner .reviews__blocks .block {
        gap: 15px;
        width: 227px;
    }
    .reviews__inner .reviews__blocks .block .area {
        min-height: 214px;
        gap: 16.6px;
        padding: 30px 22px 20px;
        border-radius: 44px 44px 44px 0;
        -webkit-border-radius: 44px 44px 44px 0;
        -moz-border-radius: 44px 44px 44px 0;
        -ms-border-radius: 44px 44px 44px 0;
        -o-border-radius: 44px 44px 44px 0;
    }
    .reviews__inner .reviews__blocks .block .area span {
        font-size: 14.1128px;
        line-height: 21px;
    }
    .reviews__inner .reviews__blocks .block .area img {
        max-width: 130px;
    }
    .reviews__inner .reviews__blocks .block .round {
        width: 52px;
        height: 52px;
        border: 3.5px solid #FFFFFF;
    }
    .form {
        padding: 82px 0 67px;
    }
    .form .form__inner .block {
        padding: 25px 110px 25px 65px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .form .form__inner .block .texts {
        gap: 10px;
    }
    .form .form__inner .block .texts span:first-child {
        font-size: 28.1374px;
        line-height: 31px;
    }
    .form .form__inner .block .texts span:last-child {
        font-size: 15.6319px;
        line-height: 17px;        
    }
    .form .form__inner .block button {
        width: 190px;
        height: 46px;
        font-size: 15.6319px;
        line-height: 105%;
    }
    .desctop {
        padding: 55px 0;
    }
    .desctop .f-triang1 {
        bottom: -200px;
    }
    .desctop .f-triang2 {
        display: none;
    }
    .desctop .footer__inner .info {
        gap: 15px;
    }
    .desctop .footer__inner .left {
        gap: 50px;
    }
    .desctop .footer__inner .info img {
        width: 105px;
    }
    footer span, footer a {
        max-width: 200px;
        font-size: 10px;
        line-height: 11px;
    }
    .desctop .footer__inner .link_all {
        gap: 40px;
    }
    .desctop .footer__inner .links {
        gap: 10px;
    }
    .desctop .footer__inner .links span {
        margin-bottom: 5px;
        font-size: 11.255px;
        line-height: 12px;
    }
    .footer__inner .networks {
        margin: 30px 30px 0 0;
        gap: 11px;
    }
    .footer__inner .networks a {
        width: 23px;
    }
    .footer__inner .networks a img {
        width: 100%;
    }
}